<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    html, body {
      height: 100%;
      margin: 0;
    }

    iframe {
      width: 100%;
      height: 100%;
      border: 0;
    }

    span {
      position: absolute;
      bottom: 3%;
      left: 1%;
      color: white;
    }

    a {
      text-decoration:none;
    }
    </style>
</head>
<body>
<span>Source from : <a href="https://livingatlas.arcgis.com/sea-ice/">https://livingatlas.arcgis.com/sea-ice/</a></span>
<iframe id="inlineFrameExample"
title="Inline Frame Example"
width="100%"
height="100%"
src="https://livingatlas.arcgis.com/sea-ice/">
</iframe>
</body>
</html>